.container {
  max-width: 85rem;
  margin-inline: auto;
}
@media all and (max-width: 760px) {
  .container {
    padding-inline: 1rem;
  }
}
@media all and (min-width: 761px) {
  .container {
    padding-inline: 3rem;
  }
}
.container--no-padding {
  max-width: 85rem;
  margin-inline: auto;
}

.fondo--hero {
  background-color: #101010;
  background-image: url("../img/landing/fondo-hero.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
}
.fondo--trabajos {
  background: linear-gradient(45deg, #53676E, #05242F);
}
.fondo--sobre-mi {
  background-color: #04232F;
}
.fondo--contacta {
  background-color: #04232F;
  background-image: url("../img/components/contact-banner.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left 50% top 20%;
}

.container__contacta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  height: 15rem;
}
.container__contacta .contacta__texto {
  margin: 0;
  text-align: center;
  color: #f7f7f7;
  letter-spacing: 0.125rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.container__contacta .contacta__enlace {
  text-transform: uppercase;
  text-decoration: none;
  color: #f7f7f7;
  background-color: #53676E;
  padding-inline: 2rem;
  padding-block: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.linkAndArrow--half-underline {
  text-decoration: none;
}
.linkAndArrow--half-underline span {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  -webkit-padding-after: 0.25rem;
          padding-block-end: 0.25rem;
  color: #f7f7f7;
  font-weight: 500;
}
.linkAndArrow--half-underline span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
  background-color: #d5aa80;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}
.linkAndArrow--half-underline svg {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  stroke: #f7f7f7;
  fill: #f7f7f7;
}
@media (hover: hover) {
  .linkAndArrow--half-underline:hover svg {
    -webkit-transform: translateX(0.5rem);
            transform: translateX(0.5rem);
  }
  .linkAndArrow--half-underline:hover span::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.img--half-underline img {
  -webkit-padding-after: 0.5rem;
          padding-block-end: 0.5rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d5aa80), to(#d5aa80));
  background-image: linear-gradient(#d5aa80, #d5aa80);
  background-size: 50% 2px;
  background-position: bottom left;
  background-repeat: no-repeat;
  -webkit-transition: background-size 0.25s ease-out;
  transition: background-size 0.25s ease-out;
}
@media (hover: hover) {
  .img--half-underline:hover img {
    background-size: 100% 2px;
  }
}

.nav--active {
  text-decoration: none;
  text-transform: uppercase;
}
.nav--active span {
  letter-spacing: 0.25rem;
  color: #d5aa80;
  font-weight: 600;
}

.texto--color-principal {
  color: #d5aa80;
}

.swiper {
  width: 100%;
  height: 60vh;
  min-height: 350px;
  margin-block: 2rem;
}
.swiper-button-prev, .swiper-button-next {
  color: #d5aa80;
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  opacity: 0 !important;
}
@media (hover: hover) {
  .swiper:hover .swiper-button-prev, .swiper:hover .swiper-button-next {
    opacity: 1 !important;
  }
  .swiper:hover .swiper-button-disabled {
    opacity: 0.35 !important;
  }
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-inline: auto;
}
.swiper-slide, .swiper-button-next, .swiper-button-prev {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@-webkit-keyframes trabajos-enlace-primero {
  0% {
    z-index: 100;
    opacity: 100%;
  }
  3.125% {
    z-index: 100;
    opacity: 0%;
  }
  3.126% {
    z-index: -100;
  }
  81.25% {
    z-index: -100;
    opacity: 0%;
  }
  84.274% {
    z-index: 100;
  }
  84.275% {
    opacity: 100%;
  }
}

@keyframes trabajos-enlace-primero {
  0% {
    z-index: 100;
    opacity: 100%;
  }
  3.125% {
    z-index: 100;
    opacity: 0%;
  }
  3.126% {
    z-index: -100;
  }
  81.25% {
    z-index: -100;
    opacity: 0%;
  }
  84.274% {
    z-index: 100;
  }
  84.275% {
    opacity: 100%;
  }
}
@-webkit-keyframes trabajos-enlace-otros {
  0% {
    z-index: -90;
    opacity: 0%;
  }
  3.124% {
    z-index: 110;
  }
  3.125% {
    opacity: 100%;
  }
  18.75% {
    z-index: 110;
    opacity: 100%;
  }
  21.875% {
    z-index: 110;
    opacity: 0%;
  }
  21.876% {
    z-index: -90;
  }
}
@keyframes trabajos-enlace-otros {
  0% {
    z-index: -90;
    opacity: 0%;
  }
  3.124% {
    z-index: 110;
  }
  3.125% {
    opacity: 100%;
  }
  18.75% {
    z-index: 110;
    opacity: 100%;
  }
  21.875% {
    z-index: 110;
    opacity: 0%;
  }
  21.876% {
    z-index: -90;
  }
}
.trabajos__item-enlace--primero > span:nth-child(1) {
  z-index: 100;
  opacity: 100%;
  -webkit-animation-name: trabajos-enlace-primero;
          animation-name: trabajos-enlace-primero;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(1.25s - (calc(0.25s / 10) * 1));
          animation-delay: calc(1.25s - (calc(0.25s / 10) * 1));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--primero > span:nth-child(2) {
  z-index: 100;
  opacity: 100%;
  -webkit-animation-name: trabajos-enlace-primero;
          animation-name: trabajos-enlace-primero;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(1.25s - (calc(0.25s / 10) * 2));
          animation-delay: calc(1.25s - (calc(0.25s / 10) * 2));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--primero > span:nth-child(3) {
  z-index: 100;
  opacity: 100%;
  -webkit-animation-name: trabajos-enlace-primero;
          animation-name: trabajos-enlace-primero;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(1.25s - (calc(0.25s / 10) * 3));
          animation-delay: calc(1.25s - (calc(0.25s / 10) * 3));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--primero > span:nth-child(4) {
  z-index: 100;
  opacity: 100%;
  -webkit-animation-name: trabajos-enlace-primero;
          animation-name: trabajos-enlace-primero;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(1.25s - (calc(0.25s / 10) * 4));
          animation-delay: calc(1.25s - (calc(0.25s / 10) * 4));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--primero > span:nth-child(5) {
  z-index: 100;
  opacity: 100%;
  -webkit-animation-name: trabajos-enlace-primero;
          animation-name: trabajos-enlace-primero;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(1.25s - (calc(0.25s / 10) * 5));
          animation-delay: calc(1.25s - (calc(0.25s / 10) * 5));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--primero > span:nth-child(6) {
  z-index: 100;
  opacity: 100%;
  -webkit-animation-name: trabajos-enlace-primero;
          animation-name: trabajos-enlace-primero;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(1.25s - (calc(0.25s / 10) * 6));
          animation-delay: calc(1.25s - (calc(0.25s / 10) * 6));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--primero > span:nth-child(7) {
  z-index: 100;
  opacity: 100%;
  -webkit-animation-name: trabajos-enlace-primero;
          animation-name: trabajos-enlace-primero;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(1.25s - (calc(0.25s / 10) * 7));
          animation-delay: calc(1.25s - (calc(0.25s / 10) * 7));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--primero > span:nth-child(8) {
  z-index: 100;
  opacity: 100%;
  -webkit-animation-name: trabajos-enlace-primero;
          animation-name: trabajos-enlace-primero;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(1.25s - (calc(0.25s / 10) * 8));
          animation-delay: calc(1.25s - (calc(0.25s / 10) * 8));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--primero > span:nth-child(9) {
  z-index: 100;
  opacity: 100%;
  -webkit-animation-name: trabajos-enlace-primero;
          animation-name: trabajos-enlace-primero;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(1.25s - (calc(0.25s / 10) * 9));
          animation-delay: calc(1.25s - (calc(0.25s / 10) * 9));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--primero > span:nth-child(10) {
  z-index: 100;
  opacity: 100%;
  -webkit-animation-name: trabajos-enlace-primero;
          animation-name: trabajos-enlace-primero;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(1.25s - (calc(0.25s / 10) * 10));
          animation-delay: calc(1.25s - (calc(0.25s / 10) * 10));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--segundo > span:nth-child(1) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(1.75s - (calc(0.25s / 9) * 1));
          animation-delay: calc(1.75s - (calc(0.25s / 9) * 1));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--segundo > span:nth-child(2) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(1.75s - (calc(0.25s / 9) * 2));
          animation-delay: calc(1.75s - (calc(0.25s / 9) * 2));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--segundo > span:nth-child(3) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(1.75s - (calc(0.25s / 9) * 3));
          animation-delay: calc(1.75s - (calc(0.25s / 9) * 3));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--segundo > span:nth-child(4) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(1.75s - (calc(0.25s / 9) * 4));
          animation-delay: calc(1.75s - (calc(0.25s / 9) * 4));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--segundo > span:nth-child(5) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(1.75s - (calc(0.25s / 9) * 5));
          animation-delay: calc(1.75s - (calc(0.25s / 9) * 5));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--segundo > span:nth-child(6) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(1.75s - (calc(0.25s / 9) * 6));
          animation-delay: calc(1.75s - (calc(0.25s / 9) * 6));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--segundo > span:nth-child(7) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(1.75s - (calc(0.25s / 9) * 7));
          animation-delay: calc(1.75s - (calc(0.25s / 9) * 7));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--segundo > span:nth-child(8) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(1.75s - (calc(0.25s / 9) * 8));
          animation-delay: calc(1.75s - (calc(0.25s / 9) * 8));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--segundo > span:nth-child(9) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(1.75s - (calc(0.25s / 9) * 9));
          animation-delay: calc(1.75s - (calc(0.25s / 9) * 9));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--tercero > span:nth-child(1) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(3.75s - (calc(0.25s / 13) * 1));
          animation-delay: calc(3.75s - (calc(0.25s / 13) * 1));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--tercero > span:nth-child(2) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(3.75s - (calc(0.25s / 13) * 2));
          animation-delay: calc(3.75s - (calc(0.25s / 13) * 2));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--tercero > span:nth-child(3) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(3.75s - (calc(0.25s / 13) * 3));
          animation-delay: calc(3.75s - (calc(0.25s / 13) * 3));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--tercero > span:nth-child(4) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(3.75s - (calc(0.25s / 13) * 4));
          animation-delay: calc(3.75s - (calc(0.25s / 13) * 4));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--tercero > span:nth-child(5) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(3.75s - (calc(0.25s / 13) * 5));
          animation-delay: calc(3.75s - (calc(0.25s / 13) * 5));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--tercero > span:nth-child(6) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(3.75s - (calc(0.25s / 13) * 6));
          animation-delay: calc(3.75s - (calc(0.25s / 13) * 6));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--tercero > span:nth-child(7) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(3.75s - (calc(0.25s / 13) * 7));
          animation-delay: calc(3.75s - (calc(0.25s / 13) * 7));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--tercero > span:nth-child(8) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(3.75s - (calc(0.25s / 13) * 8));
          animation-delay: calc(3.75s - (calc(0.25s / 13) * 8));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--tercero > span:nth-child(9) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(3.75s - (calc(0.25s / 13) * 9));
          animation-delay: calc(3.75s - (calc(0.25s / 13) * 9));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--tercero > span:nth-child(10) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(3.75s - (calc(0.25s / 13) * 10));
          animation-delay: calc(3.75s - (calc(0.25s / 13) * 10));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--tercero > span:nth-child(11) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(3.75s - (calc(0.25s / 13) * 11));
          animation-delay: calc(3.75s - (calc(0.25s / 13) * 11));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--tercero > span:nth-child(12) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(3.75s - (calc(0.25s / 13) * 12));
          animation-delay: calc(3.75s - (calc(0.25s / 13) * 12));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--tercero > span:nth-child(13) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(3.75s - (calc(0.25s / 13) * 13));
          animation-delay: calc(3.75s - (calc(0.25s / 13) * 13));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--cuarto > span:nth-child(1) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(5.75s - (calc(0.25s / 8) * 1));
          animation-delay: calc(5.75s - (calc(0.25s / 8) * 1));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--cuarto > span:nth-child(2) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(5.75s - (calc(0.25s / 8) * 2));
          animation-delay: calc(5.75s - (calc(0.25s / 8) * 2));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--cuarto > span:nth-child(3) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(5.75s - (calc(0.25s / 8) * 3));
          animation-delay: calc(5.75s - (calc(0.25s / 8) * 3));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--cuarto > span:nth-child(4) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(5.75s - (calc(0.25s / 8) * 4));
          animation-delay: calc(5.75s - (calc(0.25s / 8) * 4));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--cuarto > span:nth-child(5) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(5.75s - (calc(0.25s / 8) * 5));
          animation-delay: calc(5.75s - (calc(0.25s / 8) * 5));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--cuarto > span:nth-child(6) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(5.75s - (calc(0.25s / 8) * 6));
          animation-delay: calc(5.75s - (calc(0.25s / 8) * 6));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--cuarto > span:nth-child(7) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(5.75s - (calc(0.25s / 8) * 7));
          animation-delay: calc(5.75s - (calc(0.25s / 8) * 7));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.trabajos__item-enlace--cuarto > span:nth-child(8) {
  z-index: -90;
  opacity: 0%;
  -webkit-animation-name: trabajos-enlace-otros;
          animation-name: trabajos-enlace-otros;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: calc(5.75s - (calc(0.25s / 8) * 8));
          animation-delay: calc(5.75s - (calc(0.25s / 8) * 8));
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes trabajos-imagen-primero {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  2.34375% {
    -webkit-transform: translate(-10%, -100vh);
            transform: translate(-10%, -100vh);
  }
  2.34376% {
    -webkit-transform: translate(-10%, 100vh);
            transform: translate(-10%, 100vh);
  }
  77.34375% {
    -webkit-transform: translate(-10%, 100vh);
            transform: translate(-10%, 100vh);
  }
  79.6875% {
    -webkit-transform: translate(-10%, -100vh);
            transform: translate(-10%, -100vh);
  }
  79.6876% {
    -webkit-transform: translate(-10%, 100vh);
            transform: translate(-10%, 100vh);
  }
  82.03125% {
    -webkit-transform: translate(-12%, -100vh);
            transform: translate(-12%, -100vh);
  }
  82.03126% {
    -webkit-transform: translate(-12%, 100vh);
            transform: translate(-12%, 100vh);
  }
  84.375% {
    -webkit-transform: translate(-15%, -100vh);
            transform: translate(-15%, -100vh);
  }
  84.376% {
    -webkit-transform: translate(0%, 100vh);
            transform: translate(0%, 100vh);
  }
  86.71875% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes trabajos-imagen-primero {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  2.34375% {
    -webkit-transform: translate(-10%, -100vh);
            transform: translate(-10%, -100vh);
  }
  2.34376% {
    -webkit-transform: translate(-10%, 100vh);
            transform: translate(-10%, 100vh);
  }
  77.34375% {
    -webkit-transform: translate(-10%, 100vh);
            transform: translate(-10%, 100vh);
  }
  79.6875% {
    -webkit-transform: translate(-10%, -100vh);
            transform: translate(-10%, -100vh);
  }
  79.6876% {
    -webkit-transform: translate(-10%, 100vh);
            transform: translate(-10%, 100vh);
  }
  82.03125% {
    -webkit-transform: translate(-12%, -100vh);
            transform: translate(-12%, -100vh);
  }
  82.03126% {
    -webkit-transform: translate(-12%, 100vh);
            transform: translate(-12%, 100vh);
  }
  84.375% {
    -webkit-transform: translate(-15%, -100vh);
            transform: translate(-15%, -100vh);
  }
  84.376% {
    -webkit-transform: translate(0%, 100vh);
            transform: translate(0%, 100vh);
  }
  86.71875% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}
@-webkit-keyframes trabajos-imagen-otros {
  0% {
    -webkit-transform: translate(-10%, 100vh);
            transform: translate(-10%, 100vh);
  }
  2.34375% {
    -webkit-transform: translate(-10%, -100vh);
            transform: translate(-10%, -100vh);
  }
  2.34376% {
    -webkit-transform: translate(-12%, 100vh);
            transform: translate(-12%, 100vh);
  }
  4.6875% {
    -webkit-transform: translate(-12%, -100vh);
            transform: translate(-12%, -100vh);
  }
  4.6876% {
    -webkit-transform: translate(-15%, 100vh);
            transform: translate(-15%, 100vh);
  }
  7.03125% {
    -webkit-transform: translate(-15%, -100vh);
            transform: translate(-15%, -100vh);
  }
  7.03126% {
    -webkit-transform: translate(0%, 100vh);
            transform: translate(0%, 100vh);
  }
  9.375% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  25% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  27.34375% {
    -webkit-transform: translate(-10%, -100vh);
            transform: translate(-10%, -100vh);
  }
  27.34376% {
    -webkit-transform: translate(-10%, 100vh);
            transform: translate(-10%, 100vh);
  }
}
@keyframes trabajos-imagen-otros {
  0% {
    -webkit-transform: translate(-10%, 100vh);
            transform: translate(-10%, 100vh);
  }
  2.34375% {
    -webkit-transform: translate(-10%, -100vh);
            transform: translate(-10%, -100vh);
  }
  2.34376% {
    -webkit-transform: translate(-12%, 100vh);
            transform: translate(-12%, 100vh);
  }
  4.6875% {
    -webkit-transform: translate(-12%, -100vh);
            transform: translate(-12%, -100vh);
  }
  4.6876% {
    -webkit-transform: translate(-15%, 100vh);
            transform: translate(-15%, 100vh);
  }
  7.03125% {
    -webkit-transform: translate(-15%, -100vh);
            transform: translate(-15%, -100vh);
  }
  7.03126% {
    -webkit-transform: translate(0%, 100vh);
            transform: translate(0%, 100vh);
  }
  9.375% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  25% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  27.34375% {
    -webkit-transform: translate(-10%, -100vh);
            transform: translate(-10%, -100vh);
  }
  27.34376% {
    -webkit-transform: translate(-10%, 100vh);
            transform: translate(-10%, 100vh);
  }
}
.nav {
  position: fixed;
  inset: 0;
  z-index: -1;
  background-color: #04232F;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 342.8571428571ms;
          transition-delay: 342.8571428571ms;
}
.nav__enlace {
  text-transform: uppercase;
}
.nav__enlace span {
  letter-spacing: 0.125rem;
  margin-block: 0.5rem;
  font-size: 2.5rem;
  font-weight: 500;
}
.nav__sublista--show {
  height: 13.75rem;
}
.nav__subenlace {
  text-align: center;
  padding: 1rem;
}
.nav__subenlace span {
  font-size: 1.25rem;
}

.nav > .nav__lista > .nav__item--wrapper:nth-child(4n-1) > .nav__item > .nav__enlace {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: calc(600ms / 2);
          transition-duration: calc(600ms / 2);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: calc((1 * 100ms) - 100ms);
          transition-delay: calc((1 * 100ms) - 100ms);
}

.nav > .nav__lista > .nav__item--wrapper:nth-child(4n-2) > .nav__item > .nav__enlace {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: calc(600ms / 2);
          transition-duration: calc(600ms / 2);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: calc((2 * 100ms) - 100ms);
          transition-delay: calc((2 * 100ms) - 100ms);
}

.nav > .nav__lista > .nav__item--wrapper:nth-child(4n-3) > .nav__item > .nav__enlace {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: calc(600ms / 2);
          transition-duration: calc(600ms / 2);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: calc((3 * 100ms) - 100ms);
          transition-delay: calc((3 * 100ms) - 100ms);
}

.footer__flex-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.line-break-mobile {
  display: block;
}

.container__contacta {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__social {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.hero__social-linea-vertical {
  display: none;
}
.hero__social-redes {
  gap: 0.5rem;
}
.hero__nombre {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}
.hero__frase {
  margin-bottom: 0.5rem;
}

.trabajos__imagen {
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0;
}

.container__sobre-mi {
      grid-template-areas: "titulo" "imagen" "texto" "enlace";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: fit-content 1rem fit-content 1rem fit-content 1rem fit-content;
  grid-template-rows: repeat(4, -webkit-fit-content);
  grid-template-rows: repeat(4, fit-content);
  gap: 1rem;
}

.sobre-mi__titulo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulo;
}
.sobre-mi__imagen {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: imagen;
  margin: 0 auto;
}
.sobre-mi__texto {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: texto;
}
.sobre-mi__enlace {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: enlace;
}

.container__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.about__titulo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-align: center;
}
.about__parrafo:last-of-type {
  margin-bottom: 1rem;
}

.parrafo1 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.parrafo2 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.parrafo3 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}
.parrafo4 {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}
.parrafo5 {
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
}
.parrafo6 {
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
}

.about__imagen-retrato {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  width: min(100%, 400px);
  margin-inline: auto;
}
.about__imagen-composite {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
  width: min(100%, 400px);
  margin-inline: auto;
}
.about__imagen-chico {
  display: none;
}

.contact__titulo {
  text-align: center;
}
.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__titulo {
  text-align: center;
}
.portfolio__subtitulo, .portfolio__fecha, .portfolio__ubicacion {
  display: block;
  margin-block: 0.5rem;
}
.portfolio__ayuda {
  gap: 1rem;
  margin-inline: auto;
  width: 90%;
}

.ayuda__wrapper {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "pista" "explicacion";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: (max-content)[2];
  grid-template-rows: repeat(2, -webkit-max-content);
  grid-template-rows: repeat(2, max-content);
}
.ayuda__pista {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: pista;
}
.ayuda__explicacion {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: explicacion;
}
/*# sourceMappingURL=mobile.css.map */